.title {
  background-color: rgba(0, 0, 0, 0.76);
  line-height: 100px;
  height: 100px;
  font-size: 24px;
  margin: 20px;
  margin-bottom: 5px;
  padding-left: 15px;
}
span {
  color: white;
  font-weight: 200;
}

#card {
  padding-bottom: 5px;
}
#product {
  padding-bottom: 5px;
}
#wrapper {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  height: auto;
}

#categories {
  width: 30%;
  background-color: rgb(174, 199, 199);
}

#products {
  width: 70%;
  background-color: lightgrey;
  padding: 5px;
}

#price_title {
  display: flex;
}

#part1 {
  width: 90%;
}
#part2 {
  width: 10%;
}
