<div class="title">
  <span>SPORTS STORE</span>
</div>
<div id="wrapper">
  <div id="categories">
    <p>{{ categories.length }} Categories</p>
  </div>
  <div id="products">
    <div *ngFor="let product of products" id="product">
      <mat-card id="card">
        <mat-card-title>
          <div id="price_title">
            <div id="part1">
              {{ product.id }}
            </div>
            <div id="part2">
              {{ product.price }}
            </div>
          </div>
        </mat-card-title>
        {{ product.description }}
      </mat-card>
    </div>
  </div>
</div>
